
:root {
  --background-color: hsl(180, 52%, 96%);
  --filter-tables: hsl(180, 31%, 95%);
  --dark-cyan: hsl(180, 8%, 52%);
  --very-dark-cyan: hsl(180, 14%, 20%); 
  --cyan: hsl(180, 29%, 50%);
}


*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'BPG LE Studio 02 Caps', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: var(--background-color)
}


.job{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: 80%;
  margin: 2%;
  margin-left: 10%;
  border-radius: 5px;
  box-shadow: 0 0 20px  rgba(0,0,0,.3);
  padding: 10px;
  text-decoration: none !important;
  transition: .2s;
}
.job:hover{
  transform: scale(1.01);
  color: none !important;
  text-decoration: none !important;
}
.job-featured{
  border-left: 5px solid var(--cyan)
}
.job-upper{
  display: flex;
  margin-top: 10px;
}
.job-bot{
  display: flex;
  margin: 5px;
}
.badges{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5%;
}
#logo{
  position: relative;
  top: 10%;
  left: -100%;
}
.sm{
  font-size: 20px;
}
#profile-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 2em;
  box-shadow: 0 0 10px 1px  rgb(0,0,0,.5);
  position: relative;
}

.img-div img{
  position: absolute ;
  width: 200px;
  height: auto;
}
#file{
  display: none
}
#file-label{
  color: white;
  height: 30px;
  width: 170px;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 30%;
  right: 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.searchBar{
  display: flex;
  width: 80%;
  height: 50px;
  background: white;
  margin-left: 10%;
  margin-top: -20px;
  box-shadow: 2px 2px 10px hsl(180, 8%, 52%, .5);
  border-radius: 10px;
  padding: 9px;
}
.none{
  display: none !important;
}
#logo{
  width: 100px;
  height: 100px;
  margin-left: -10px;
  margin-top: -5px;
  border-radius: 50%;
}
/* TYPOGRAPHY */

.primary-text{
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.job-main{
  text-align: left;
}

.position{
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  width: max-content;
  transition: .5s;
}
.position:hover{
  color: var(--cyan) !important;
}
.badge-main{
  font-size: 12px;
  margin-left: 10px;
  height: max-content;
  padding: 5px;
  padding-top: 7px;
  border-radius: 3px;
  color: var(--cyan) !important;
  background-color: var(--background-color);
  font-weight: 700;
  cursor: pointer;
  transition: .1s;
  z-index: 2;
}
.badge-main:hover{
  background: hsl(180, 33%, 54%);
  color: white !important;
}
.company{
  font-size: 12px;
  font-weight: 700;
  margin-top: 1%;
  color: var(--cyan) !important;
}
.badge{
  color: white;
  border-radius: 20px;
  margin-left: 5px;
  padding: 7px;
}

.new{
  background-color: var(--cyan)
}
.featured{
  background-color: var(--very-dark-cyan);
}

.common{
  margin-right: 5px;
  font-size: 12px;
  color: var(--dark-cyan);
}
.point{
  margin-right: 5px;
  position: relative;
  top: -3px;
  color: var(--dark-cyan)
}
.selected-item{
  display: flex;
  margin-right: 5px;
  color: var(--cyan);
  background-color: var(--background-color);
  height: max-content;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 2px;
}
.selected-text{
  position: relative;
  top: 4px;
  left: 5%;
  padding: 5px;
  font-size: 12px;
  margin-right: 10px;
}
.undo{
  border: none;
  background: var(--dark-cyan);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all .1s;
}
.undo:hover{
  background: var(--very-dark-cyan);
}
.clear{
  background: none;
  border: none;
  position: absolute;
  left: 75%;
  top: 200px;
  color: var(--cyan);
  text-decoration: underline;
  font-weight: 700;
  font-size: 12px;
}
.error-text{
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
}
#page-badges{
  position:relative;
  bottom: 12px;
}
/* BG */
.bg{
  width: 100%;
  height: 9rem;
  background: url('./images/bg-header-desktop.svg') no-repeat 100%;
  background-color: var(--cyan);
}
.register-login{
  margin-top: 50px;
  width: 40%; 
  margin-left: 30%;
}



/* DESIGN */

#login{
  font-size: 30px;
}
.login-form-primary{
  text-align: center;
  color: var(--very-dark-cyan);
}
.login-form{
  border-radius: 50px;
}
.login-form-username:focus{
  box-shadow: 0 0 0 3pt hsl(180, 8%, 52%, .4);
}
.login-form-password:focus{
  box-shadow: 0 0 0 3pt hsl(180, 8%, 52%, .4);
}
.login-button, .register-button{
  width: 90%;
  margin-top: 10px;
  text-transform: uppercase;
  background-color:  var(--very-dark-cyan) !important;
  border-radius: 50px;
  transition: .5s;
  border: 2px solid var(--very-dark-cyan) !important;
}
.login-button:hover, .register-button:hover{
  background-color:  var(--filter-tables) !important;
  color: var(--very-dark-cyan);
}
.login-button:focus, .register-button:focus{
  box-shadow: 0 0 0 3pt hsl(180, 8%, 52%, .4) !important;
}
.login-button:disabled, .register-button:disabled{
  cursor: default;
}
.login-button:disabled:hover{
  background-color:  var(--very-dark-cyan) !important;
  color: white;
}
.svp{
  width: 90%;
  display: flex;
  margin-bottom: 30px;
}
#uploaded-img{
  margin-left: 30px;
  border-radius: 50%;
  background-color: gray;
  width: 70px;
  height: 70px;
}

.create-new-job-button{
  margin-left: 73%;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: var(--very-dark-cyan) !important;
  border: 2px solid var(--very-dark-cyan) !important;
  font-weight:700;
  transition: all .5s;
}
.create-new-job-button:hover{
  background: none !important;
  color: var(--very-dark-cyan) !important;
}
.create-new-job-button:focus{
  box-shadow: 0 0 0 3pt hsl(180, 8%, 52%, .4) !important;
}

.error{
  color: red;
  font-weight: 800;
}
.sucess{
  display: none;
}
.pass-reset{
  position: relative;
  top: 20px;
}

#get-job-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
}